* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.portfolio-1 {
    background: linear-gradient(180deg, #bd9f79 92.07%, #bdc0cf 100%);
}

.prev {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 550px;
    margin: 94px 116px;
}

.prev-1 {
    background: url(/img/mllvet.jpg);
}

.container-title {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-pt {
    color: #fff;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.order {
    align-self: center;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 12.36px;
    text-transform: uppercase;
}

.portfolio-2 {
    background: linear-gradient(180deg, #bdc0cf 90.6%, #d2d2d2 100%);
}

.prev-2 {
    background: url(/img/humans.jpg);
}

.title-2 {
    color: #000;
}
.portfolio-3 {
    background: linear-gradient(180deg, #d2d2d2 91.73%, #fac5b2 100%);
}

.prev-3 {
    background: url(/img/bank.jpg);
}

.title-3 {
    color: #000;
}

.portfolio-4 {
    background: #fac5b2;
}

.prev-4 {
    background: url(/img/travel.jpg);
}

.title-4 {
    color: #fac5b2;
}
